h1 {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 300%;
  background-color: #040953;
  color: #fff;
}

body {
  background-color: #020425;
  text-align: center;
  padding: 20px 0;
}

p {
  margin: 0;
  font-size: 100%;
  color: #ffffff;
}

h2 {
  color: #ffffff;
  font-size: 150%;
}

h3 {
  color: #ffffff;
  font-size: 120%;
}