@charset "UTF-8";

h1 {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 300%;
  color: blue;
}

body {
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

p {
  margin: 0;
  font-size: 100%;
  color: black;
}

h2 {
  color: red;
  font-size: 150%;
}

h3 {
  color: red;
  font-size: 120%;
}